[submodule "mbedtls"]
	path = mbedtls
	branch = emusca
	url = https://github.com/jevinskie/mbedtls
[submodule "tiny-AES-c"]
	path = tiny-AES-c
	branch = emusca
	url = https://github.com/jevinskie/tiny-AES-c
